/* 
    Base configurations
    ----------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root{
    --swatch_1: #eff0f2;
    --swatch_2: #b2b9c9;
    --swatch_3: #11100e;
    --swatch_4: #b4c7d8;
    --swatch_5: #545954;
    --swatch_6: #611311;
    --swatch_7: #837269;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
}

/* section1 */

.section1{
    position: relative;
    min-height: 100vh;
    width: 250px;
    background-color: var(--swatch_1);
    padding: 20px;
}

/* header */

.header{
margin-bottom: 15px;
}

.profil{
    position: relative;
}

.topbar img{
    width: 100px;
    height: 50px;
}

.topheader{
    text-align: center;
}

.point{
    width: 12px;
    height: 12px;
    background-color:#df273b;
    border-radius: 50%;
    border: 2px solid white;
}

.point-profil{
    position: absolute;
    top: 67%;
    left: 56%;
}

.topheader img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.topheader h6{
    font-weight: 900;
    font-size: 12px;
}

 span{
    font-size: 12px;
    font-weight: 700;
    color:#c5c5c5 ;
    margin-top: 0;
}

.smalldiv{
    width: 100%;
    display: flex;
    justify-content:space-between;
    /* padding: 12px 30px; */
    padding-top:15px ;
}

.stat{
    text-align: center;
}

.stat p{
    font-size: 12px;
    font-weight: 700;

}

/* le main */

.liste{
    line-height: 3.5;
    margin: 15px 0;
}

li{
    display: flex;
    align-items: center;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--swatch_3);
    font-size: 14px;
    font-weight: 600;
}

.liens{
    margin-left: 10px;
}

.spn{
    color:#ea7c89;
    font-size: 14px;
}

.toggle a{
    font-size: 12px;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: block;
    width: 35px;
    height: 15px;
    margin-bottom: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    right: 4px;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #cd3d41;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #cd3d41;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translatey(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  footer {
    display: block;
    justify-content:space-between;
    padding: 5px 20px;
    color: #c5c5c5;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer a{
    font-size: 12px;
}

.liensfooter{
    font-size: 10px;
    margin-top: 30px;
}




/* section2 */

.section2{
    max-height: 100vh;
    width: 100%;
    background-color:#fff;
    padding-top: 30px;
}

.header2{
    border-bottom: 1px solid rgba(126, 51, 51, 0.26);
    padding: 15px 0 10px 0;
}

.leftbar{
    display: flex;
    justify-content: space-between;
}

.frn{
    margin: 0 auto;
}

.frn input{
    padding: 5px 70px 5px 10px;
    border-radius: 20px;
    border: 1px solid rgba(126, 51, 51, 0.26);
}


.overflow-ellipsis{
    text-overflow: ellipsis;
}

.icons2{
    width:100px ;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.point-icons{
    position: absolute;
    top: 35%;
    left: 50%;
}

.mained{
    float: left;
    width: calc(100% - 400px);
    border-right: 1px solid rgba(126, 51, 51, 0.26);
    padding: 30px;
    height: 100vw;
}


 /* .container2{
    width: 900px;
    margin: 0 auto;
    
}  */

.cardtop{
    display: flex;
    margin-bottom: 20px;
}

.fistillustre{
    flex: 1;
    width: 400px;
    padding-top: 40px;
    margin-bottom: 30px;

}

.chevron{
    width: 114px;
    height: 80px;
    padding-top: 18px;
} 

.chevronicone{
    width: 100%;
}


.fistillustre h3{
    font-size: 15px;
}

.fistillustre h1{
    font-size: 23px;
    font-weight: 700;
    margin: 25px 0;
}

.fistblok{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.smallcard{
    position: relative;
    width: 320px;
    display: inline-block;
    margin-right: 15px;
}

.picturesmall1{
    width: 100%;
    height: 150px;
}

.smallcard h4{
    width: 150px;
    font-size: 12px;
    white-space:nowrap;
    overflow: hidden;
    margin: 10px 0;
}

.smalldiv3{
    display: flex;
    width: 150px;
    justify-content:space-between;
}

.overflow-ellipsis{
    text-overflow: ellipsis;
}

.secondillustre{
    position: relative;
    flex: 1;
    margin-left: 20px;
    
}

/* .smallrectangulars{
    max-width: 50px;
    font-size: 12px;
    background-color:rgba(0, 0, 0, 0.596);
    padding: 2px 15px;
    color: white;
    font-weight: 400;
    position: absolute;
    bottom: 45%;
    left: 5%;
} */

 .smallrectangular1{
    max-width: 50px;
    font-size: 12px;
    background-color:rgba(0, 0, 0, 0.596);
    padding: 2px 15px;
    color: white;
    font-weight: 400;
    position: absolute;
    bottom: 40%;
    left: 5%;
} 

.smallrectangular2{
    max-width: 50px;
    font-size: 12px;
    background-color:rgba(0, 0, 0, 0.596);
    padding: 2px 15px;
    color: white;
    font-weight: 400;
    position: absolute;
    bottom:40%;
    left: 5%;

}

.picture1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    bottom: 30%;
    right: 5%;
}

.picture2{
    width: 100%;
    height: 300px;
}

.secondillustre h6{
    font-size: 15px;
    margin: 15px 0;
}

.smalldiv4{
    display: flex;
    width: 250px;
    justify-content:space-between;
}

.cardbottom{
    margin-top: 20px;
}

.cardbottom h3{
    margin-right: 15px;
}

.cardtitle{
    display: flex;
    justify-content: space-between;
}

.graphebot{
    font-size: 10px;
    float: right;
}

.gridcard{
    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(3,300px);
    grid-template-columns: repeat(4,300px);
    grid-row-gap: 60px;
    grid-column-gap: 40px; 
} 


.picturegirl1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    bottom: 25%;
    right: 5%;
}

.picturegirl2{
    width: 100%;
    height: 200px;
}



/* le sidebar */

.sidebar{
    float: right;
    width: 400px;
    max-height: 100vh;
    padding-top: 30px;
}

.container{
    width: 320px;
    margin: 0 auto;
}

.infoprofil{
    position: relative;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.smallrectangular{
    max-width: 50px;
    font-size: 12px;
    background-color:#cd3d42bd;
    padding: 2px 15px;
    color: white;
    font-weight: 400;
    position: absolute;
    top: 15%;
    left: 5%;
}

.images1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    bottom: 38%;
    right: 10%;
}



.smalltitle{
    display: flex;
    align-items: center;
    
}

.images2{
    width: 300px;
    height: 150px;
    margin:15px 0 0 0;
}

.infoprofil h3{
    margin-right: 14px;
}

.infoprofil h6{
    margin: 12px 0;
    font-size: 15px;
}

.graphe{
    font-size: 14px;
    color:#c5c5c5 ;
    margin: 5px 0 10px 0;
}

.smalldiv2{
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.info{
    margin-top: 20px;
}

.lineicons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    line-height: 1.9;
}

.blockicons{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blockicons img{
    margin-top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.stat2 p{
    font-weight: 700;
}

.music{
    position: relative;
}

.image{
    width: 400px;
    height: 300px;
}

.smallrectangular3{
    max-width: 200px;
    font-size: 12px;
    background-color:#fff;
    padding: 10px 15px;
    color: #000;
    font-weight: 400;
    position: absolute;
    bottom: 30%;
    left: 20%;
}




